body{
    background:url("./assets/photo3.jpg");
    background-size: unset; 
    background-position: center;
    
    
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  
}
nav{
    left: 0px;
}